.Search-Bar{
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
}
.Search-Input-Box{
    background-color: white;
    padding: 8px;
    width: 410px;
    border-radius: 20px;
}
.Search-Input-Box:hover{
    background-color: aqua;
    color: black;
}
.Search-Button{
    background-color: rgba(15, 127, 15, 0.991);
    color: rgb(11, 11, 11);
    font-style:italic;
    font-weight: bolder;
    padding: 9px;
    margin-left: 6px;
    width: 100px;
    border-radius: 20px;
   
}
.Search-Button:hover{
    background-color: rgb(5, 253, 249);
    color: rgb(249, 246, 246);
 
}