.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 770px;
  background-image: url("../images/sky.png");
}

.App-header {
  min-height: 0;
  max-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("../images/sky.png");
}

.App-link {
  color: #61dafb;
}

.Home{
  min-height: 0;
  max-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("../images/darker.png");
}

.MarsBackground{
  min-height: 0;
  max-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("../images/marsLoopED.png")
}

.AppMars {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 770px;
  background-image: url("../images/marsLoopED.png");
}
